/*TYPOGRAPHY*/
h2{font-size:1.3em;font-weight:normal;color:#222;margin:22px 10px 12px 0px}
a {
  color: #4183c4;
}

a:hover, a:focus {
color: #44619b;
text-decoration: none;
}

/* forms */
select{
  width: auto;
}
form{
  margin:0;
  padding:0
}

/* MODS TO BASE BOOTSTRAP CLASSES */
.nav .dropdown-toggle .caret,
.nav .dropdown-toggle:hover .caret, 
.nav .dropdown-toggle:focus .caret {
  border-top-color: #4183c4;
  border-bottom-color: #4183c4;
}
.nav-pills .dropdown-menu,
.dropdown-menu {
  min-width: 180px;
  padding: 15px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.dropdown-menu li{
  margin-bottom: 8px;
}

/*LAYOUT*/

/* site header and nav */
.navbar-static-top .container, 
.navbar-fixed-top .container, 
.navbar-fixed-bottom .container {
  width: 1040px;
}

#library-header-wrapper .brand {
  padding: 10px 20px;
}
#library-header-wrapper .nav {
  margin-top: 19px;
}
#library-header-wrapper{
  position: relative;
  z-index: 5;
}
#library-header{
  background-color: #2C3E50;
  background-image: -moz-linear-gradient(top, #2C3E50, #2C3E50);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2C3E50), to(#2C3E50));
  background-image: -webkit-linear-gradient(top, #2C3E50, #2C3E50);
  background-image: -o-linear-gradient(top, #2C3E50, #2C3E50);
  background-image: linear-gradient(to bottom, #2C3E50, #2C3E50);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2C3E50', endColorstr='#ff2C3E50', GradientType=0);
  border-color: #2C3E50;
}
#container{
  position:relative;
  z-index:1;
  padding:0;
  width: 1040px;
}
.navbar-inverse .brand, 
.navbar-inverse .nav>li>a {
  color: #DEDEE8;
}
#library-header .dropdown-menu:before,
#library-header .dropdown-menu:after{
  border: none !important;
  content: "" !important;
}
#library-header .dropdown-menu{
  min-width: 375px;
  padding: 15px;
}
#library-header .dropdown-menu li li{
  border-bottom: 1px dotted #ccc;
}

/* right sidebar wrappers */
.panel-dash-left,
.panel-dash-right{
  margin:0 0 20px 20px;
}

/* panels */
.panel-dash-left{
  display:none;
}
.panel-dash-left .pane-content,
.panel-dash-left2 .pane-content,
.panel-dash-right .pane-content,
.panel-dash-central-middle .panel-pane .pane-content,
.panel-dash-central-mid2 .pane-content{
  padding:0 5% 6px;
}
.logged-in .panel-dash-left{
  display:block;
}

.pane-database-lookup,
.panel-dash-left,
.panel-dash-left2 .panel-pane,
.panel-dash-right .panel-pane,
.panel-dash-central-middle .panel-pane,
.panel-dash-central-mid2 .panel-pane{
  background:#fff;
  padding:0;
  border:1px solid #ddd;
  margin:20px 0 20px;
}
.pane-database-lookup h2,
.logged-in .panel-dash-left h4,
.panel-dash-left2 .pane-title, 
.panel-dash-left2 h3,
.panel-dash-right .pane-title, 
.panel-dash-central-middle .pane-title, 
.panel-dash-central-mid2 .pane-title{
  border-bottom:none;
  color:#fff;
  font-size:16px;
  min-width:130px;
  padding-left:15px;
  background: #d97d7e;
  margin:0;
}

/* search & find */
.pane-database-lookup h2{
  background: #55a0b7;
}
.pane-database-guides-lists{
  clear:both;
  margin:0;
  text-align:left;
  min-width:375px;
  height:30px;
  padding:10px;
  background:none;
  position:relative;
  box-shadow:0;
  -moz-box-shadow:0;
  -webkit-box-shadow:0;
  background:#f2f2f2
}
.view-id-Database_Guides_Lists .dropdown-menu,
#research-guide-menu .dropdown-menu{
  width: 350px;
}
.view-id-Database_Guides_Lists .yamm-content,
#research-guide-menu .yamm-content{
  padding: 10px 10px 20px 20px;
}
#block-block-4{padding:0;margin:10px;height:120px;}
#block-block-4 h3{margin: 0px;padding: 0 0 0 15px;font-size: 1em;color:#686868}
#block-block-4 .nav{
  margin-bottom: 0px;
}
#block-block-4 .nav-tabs>li>a{
  padding-right: 16px;
  padding-left: 16px;
}
#block-block-4 .content{margin:0;padding:2px}
#block-block-4 .tab-content{overflow: visible;}
#block-block-4 .tab-pane{
  padding: 15px;
}
#discov-new-sign{display: none}
#discov-faq-link{display:block!important;float: right;}
#discov-faq-link a{text-decoration:none;font-size:12px}

/*search options for catalog/circuit*/
#adv-search-wrapper,
#searchscope-wrapper,
#circuit-desc{
  margin: 9px 0 0;
}

/* Databases menu */
.view-id-Database_Guides_Lists .nav-header{
  padding: 8px 0 0 15px;
  font-size: 14px;
}


/* research help panel */
.panel-dash-central-middle .pane-lac2{
  margin-top:5px;
}
.panel-dash-central-middle .pane-lac2 h2{
  background: #aeb06a;
}


/* initiatives*/
#initiatives li{
  margin: 10px 0;
}
.common-read-site-link{float:left;margin-right:12px}
#read-bkcover{position:absolute;background:url(/images/icons/silent-spring-bkcover-xs.jpg) 0 0 no-repeat;width:50px;height:70px;top:20px;right:29px;position:relative;}


/* spotlights panel */
#dynamic_spotlights{float:none;margin:5px auto;*margin-top:-10px;border:none;width:100%;border:1px solid #ccc;padding:0;-moz-border-radius:3px;border-radius:3px;background:#fff;min-height:210px}
#dynamic_spotlights .pane-title{background-color:#dfa53a;color:#fff}
#dynamic_spotlights .views-slideshow-controls-top{width:80px;float:left;margin-right:7%}
#dynamic_spotlights .pane-content{padding:0 0 0 5px;min-height:169px;width:415px;margin:5px auto}
#dynamic_spotlights .views-content-title{text-align:right}
#dynamic_spotlights .views_slideshow_thumbnailhover_div_breakout_teaser{margin:1px;padding:2px;width:80px;vertical-align:middle;text-align:center}
#dynamic_spotlights .views_slideshow_thumbnailhover_div_breakout_teaser img{opacity:0.6;filter:alpha(opacity=60);border:2px solid #ddd;max-width:306px}
.views-field-field-spc-image-fid .imagecache-sm75{border:1px solid #676767}
.views_slideshow_slide .views-content-path{border:1px solid #ccc;max-height:140px;overflow:hidden;*width:306px;box-shadow:0 0 8px #ddd;-webkit-box-shadow:0 0 8px #ddd;-moz-box-shadow:0 0 8px #ddd}
.views_slideshow_slide .views-content-path img{max-height:172px;overflow:hidden}
#dynamic_spotlights .views_slideshow_slide{max-height:200px;max-width:306px;overflow:hidden;display:none;z-index:1;}
#dynamic_spotlights .views_slideshow_teaser_section{max-height:160px!important;max-width:306px;overflow:hidden}
#dynamic_spotlights .more_spotlights{margin:-26px 20px 0 0;float:right}
#dynamic_spotlights .more_spotlights a{color:#FEFDDA;text-decoration:none}
#dynamic_spotlights .views_slideshow_main{padding-top:5px;margin-top:0px;border:none;overflow:hidden;min-height:130px}
#dynamic_spotlights .activeSlide img{opacity:1;filter:alpha(opacity=1000);border:2px solid #ea8d19}
#dynamic_spotlights .views_slideshow_thumbnailhover_div_breakout_teaser.activeSlide img{border:2px solid #EA8D19}
#dynamic_spotlights .views-field-title-1{
  display: none;
}



/* Help panel */
#block-block-5{
  margin:30px 0 0 20px;
  padding: 9px 9px 3px;
  width:265px;
  border: 4px solid #ddd;
}
#block-block-5 .nav{
  margin-bottom: 0;
}
#block-block-5 .pane-title{
  background: none;
  margin-top:10px;
  line-height: normal;
}
#block-block-5 .dropdown-menu{
  min-width:250px;
}
#block-block-5 .dropdown-menu:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 9px;
}
#block-block-5 .dropdown-menu:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 10px;
}
#block-block-5 .dropdown-menu.pull-right:before {
  left: auto;
  right: 12px;
}
#block-block-5 .dropdown-menu.pull-right:after {
  left: auto;
  right: 13px;
}
#block-block-5 #chat-frame{
  min-height: 350px;
}

/* Top Links */
#top-links{
  border:none !important;
}
#top-links a{
  padding: 11px 15px;
}
#top-links i{
  font-size: 25px;
  color: #6f6faA;
  vertical-align: middle;
  margin-right: 7px;
}

/* library hours */
.panel-dash-left2 #block-views-Library_Hours_Calendar-page_2{
  border:1px solid #ccc;
  margin:5px 0 20px 20px;
  -moz-border-radius:3px;
  border-radius:3px;
  background:#fff;
  padding:0 0 10px
}
#block-views-Library_Hours_Calendar-page_2 h3{
  background-color:#9fb8e0;
}
#block-views-Library_Hours_Calendar-page_2 h3 i{
  font-size: 23px;
  vertical-align: middle;
  color: #F5D117;
}
#block-views-Library_Hours_Calendar-page_2 h3 a{
  font-weight: normal;
  cursor: default;
  color: #fff!important;
}
.libary-hours-list{
  padding: 15px;
}
.libary-hours-list .view-content{
  clear:both;padding:8px 0 0}
.libary-hours-list .hours_list_row{
  border-bottom:1px solid #ccc;
  margin:0 0 5px;
  float:left;
  max-width:200px;
  padding:0 0 3px;
}
.libary-hours-list .hours_list_row h4{
  margin:0;width:70px;padding:0;float:left;font-size:.95em}
.libary-hours-list .date-display-single{
  border:medium none;color:#565656;float:left;margin:3px 0;width:70px;*width:85px}
.field-content .today-display,.field-content .date-display-single{
  display:none}
.libary-hours-list .hours_list_row .field-content{
float:right;width:120px;font-size:0.95em;padding:0;font-weight:bold;color:#333/*195A57*/}
.libary-hours-list .upcoming-times{
  margin:0;padding:0;display:inline;font-weight:normal;color:#555;text-transform:lowercase}
#block-views-Library_Hours_Calendar-page_2 .view-footer{
  clear:both;width:100%;padding:0;margin:0}
#block-views-Library_Hours_Calendar-page_2 .view-footer p{
  padding:8px 0;margin:0;line-height:24px}


/*login*/
#block-user-0{
  position:absolute;
  top:17px;
  left:600px;
  z-index:1000;
}
#block-user-0 h3{
  display:none;
  margin:0;
  padding:0;}
#toboggan-login{
  display:none;
  padding:15px 15px 20px;
  background:url(/images/icons/lock.png) 95% 95% no-repeat #fff;
}
#sign-in-bubble-wrapper{position:absolute;left:439px;top:-31px;width:195px}
#sign-in-bubble{border-radius:1px;padding:5px 10px;background:#fff}
#sign-in-bubble-wrapper .corner{border-color:transparent #fff transparent transparent;border-style:solid;border-width:8px;font-size:0;height:0;left:-15px;line-height:0;position:absolute;top:3px;z-index:1}
#sign-in-prompt{margin:0 0 10px}

#user-login .pane-content{padding:10px}
#user-login .pane-content .form-item,#user-login .pane-content .form-submit{margin:6px 0}
#user-login .pane-content label{display:block}
#edit-persistent-login-wrapper{display:none}
#user-login .pane-content input.form-text{border-color:#7C7C7C #C3C3C3 #ddd;border-style:solid;border-width:1px;font-family:Arial,Helvetica,sans-serif;font-size:1.1em;padding:2px}
#container #you-are h2.pane-title,#initiatives h2.pane-title,#spc-collections h2.pane-title{background-color:#eaEFFE;color:#666;}


/*lightbox */
#lightbox{position:absolute;top:40px;left:0;width:100%;z-index:100;text-align:center;line-height:0}
#outerImageContainer{position:relative;background-color:#fff;width:250px;height:250px;margin:0 auto;min-width:240px;overflow:hidden}
#imageContainer,#frameContainer,#modalContainer{padding:10px}
#modalContainer{line-height:1em;overflow:auto}
#loading{height:25%;width:100%;text-align:center;line-height:0;position:absolute;top:40%;left:45%;*left:0%}
#hoverNav{position:absolute;top:0;left:0;height:100%;width:100%;z-index:10}
#imageContainer>#hoverNav{left:0}
#frameHoverNav{z-index:10;margin-left:auto;margin-right:auto;width:20%;position:absolute;bottom:0px;height:45px}
#imageData>#frameHoverNav{left:0}
#hoverNav a,#frameHoverNav a{outline:none}
#imageDataContainer{font:10px Verdana,Helvetica,sans-serif;background-color:#fff;margin:0 auto;line-height:1.4em;min-width:240px}
#imageData{padding:0 10px}
#imageData #imageDetails{width:70%;float:left;text-align:left}
#imageData #caption{font-weight:bold}
#imageData #numberDisplay{display:block;clear:left;padding-bottom:1.0em}
#imageData #bottomNav{height:66px}
#lightbox2-overlay{position:absolute;top:0;left:0;z-index:90;width:100%;height:500px;background-color:#000}
* html>body .clearfix{display:inline;width:100%}
#bottomNavClose{display:block;background:url(/sites/all/modules/lightbox2/images/close.gif) left no-repeat;margin-top:33px;float:right;padding-top:0.7em;height:26px;width:26px}
#bottomNavClose:hover{background-position:right}
#loadingLink{display:block;background:url(/sites/all/modules/lightbox2/images/loading.gif) no-repeat;width:32px;height:32px}
#lightboxImage{-ms-interpolation-mode:bicubic}
.logged-in .panel-dash-central{margin-top:10px}
.ui-tabs-hide{position:absolute;left:-15000px;top:-15000px;visibility:hidden}




/* Urgent Notices */
#block-views-Urgent_Notices-block_1{position:absolute;top:-44px;z-index:5;margin-left:700px;background:url(/images/bg.gif) 0 100% repeat-x #fff;border-left:1px solid #bbb;border-right:1px solid #bbb;border-bottom:1px solid #bbb;width:250px;height:41px;overflow:hidden;-moz-border-radius-bottomleft:6px;-moz-border-radius-bottomright:6px;border-radius:0px 0px 6px 6px}
.view-id-Urgent_Notices a{color:#D72B26;text-decoration:none;font-weight:500}
.view-id-Urgent_Notices .views_slideshow_singleframe_main{background:url(/images/icons/warning-png8.png) 0 98% no-repeat transparent;z-index:15;color:#D72B26;padding:4px 5px 5px 35px;height:31px}
.view-id-Urgent_Notices .views-field-field-introduction-value{margin-top:-8px;*margin-top:-16px}
.view-id-Urgent_Notices .views_slideshow_image_count{text-align:right;margin:-6px 10px 0 0;color:#898989;display:none!important}
#views_slideshow_div_1_0{height:41px}
.title-text-floating,.view-id-Urgent_Notices .attachment-after,#campus-links{padding:2px 0px}



.export-options{display:none}
.drupal-tabs .pane-panels-mini .pane-title{display:none}

#library_footer_wrapper{background:#333;color:#bbb;width:100%}
#library_footer_wrapper a:link,#library_footer_wrapper a:active,#library_footer_wrapper a:hover,#library_footer_wrapper a:visited{color:#ccc;text-decoration:none}
#library_footer{min-width:900px;max-width:1100px;padding:0 10px;margin:0 auto;*position:relative;*z-index:1}
#library-nav-footer{list-style:none;margin:10px 0 30px;padding:0px;float:left}
#library-nav-footer li{float:left;margin:0 10px 0 0;min-height:100px;padding:5px 10px 5px 0}
.feedback_info{width:300px;float:right;*position:relative;*z-index:2}


#footer_csu{width:100%;clear:both}
.csu-link{display:block;width:166px;height:19px;background:url(/images/sprite-main1.png?123456) no-repeat 0 -490px transparent;margin-bottom:40px}
.error{color:#CC0000}
.feed-icon img{display:none}

#lightbox #imageDetails{font-size:1.7em;font-family:Arial,Helvetica,sans-serif}
#lightbox #numberDisplay{font-size:.8em}



/* user menu */
#user-menu-top{margin:0;position:absolute;left:270px;top:5px}
#user-menu-top ul{margin:0;padding:0;height:25px}
#user-menu-top li{list-style:none;float:left;margin:0;padding:0px 4px}
#user-menu-top li span{}
#user-menu-top li a{display:block;margin:0;padding:7px 3px 3px;float:left;text-decoration:none}
#user-menu-top #user-name{padding:8px 12px 3px 10px;font-weight:bold}
#user-menu-top #user-name a{background:transparent;color:#069;border:none;float:none;display:inline;padding:0}
#user-menu-top #edit-profile a{background:url(/images/user/edit_profile.png) no-repeat 97% 2px #3680C9;padding-right:34px}
#user-menu-top #eres-stuff ul{position:absolute;top:-1000px;display:block;height:auto;background:#fff;padding:8px;visibility:hidden}
#user-menu-top #eres-stuff li{float:none;display:block;padding:2px;margin:3px 3px 7px;color:#666;border-top:1px dotted #ccc}
#user-menu-top #eres-stuff li.line1{border-top:none}
#user-menu-top #eres-stuff li a{float:none;display:inline;padding:0;margin:0;font-weight:bold}
#user-menu-top li#eres-stuff:hover{background:#fff}
#user-menu-top li#eres-stuff:hover ul{visibility:visible;top:25px;z-index:1000;width:325px;margin-left:-5px;box-shadow:5px 5px 5px #999}
#user-menu-top li#eres-stuff .no-reserves{margin:20px}
#user-menu-top li#eres-stuff .no-reserves a{float:none;display:inline;padding:0;margin:0}
#user-menu-top #logout a{background:url(/images/user/shut_down.png) no-repeat 97% 2px;padding-right:34px}



#library-nav-footer li{border:none;padding-right:25px}
#library-nav-footer a{text-decoration:none}
.feedback_info{width:220px;position:relative;z-index:2}


.logged-in .panel-dash-left h4,.logged-in .panel-dash-right .pane-similarterms h2{font-size:1.1em;margin:0;font-weight:bold;background-color:#A2A554;}
.logged-in .panel-dash-left h2{font-size:1.1em;margin:18px 5px 2px 11px;;padding:0 0 2px;font-weight:bold;color:#666;}
.pane-content .views-field-field-librarianemail-value a{display:inline}
.logged-in .panel-dash-left li{margin:0}
.logged-in .panel-dash-left #r-guides li{margin:0 0 12px;padding:10px 0;}
.logged-in .panel-dash-left #r-guides .label{font-weight:bold;color:#676767}
.logged-in .panel-dash-left li a{padding:0 0 8px}
.logged-in .panel-dash-left #r-guides .views-field-phpcode-1{margin:0 0 7px;clear:both}
.logged-in .panel-dash-left #r-guides .views-field-phpcode-1 a{padding:0}
.logged-in .panel-dash-left #r-guides a.contact-email{display:inline-block;background:url(/images/mail_icon.gif) 0 0 no-repeat;padding:0 0 0 20px;height:20px;width:0px;overflow:hidden}
.logged-in #d-guides .item-list li{margin:0}
.logged-in #d-guides h2{background-color:#0877b3!important}
#r-guides .views-field-phpcode-1 a{display:block;padding:3px 0 8px;font-weight:bold}
.views-field-field-librarianemail-value{color:#555;}
#r-guides .picture{padding:0 10px 15px;float:right;margin-top:-20px;width:55px;height:55px}

.panel-pane.pane-custom.pane-12{background:#eee;}
.panel-pane.pane-custom.pane-12 p{padding:6px 0;margin:0;}
.panel-dash-left .more-link{padding:0}
.panel-dash-left .view-footer p{margin:0;padding:8px 0 0;font-size:.9em}
#subject-guides{margin:20px 0 0;-moz-border-radius:3px;border-radius:3px;border:1px solid #ccc;background-color:#fff}
#subject-guides .pane-title{text-align:left;background-color:#a2a554}
#subject-guides .pane-content{padding:0}
#subject-guides .view-header{padding:5px;background:#f7f7f7}
#subject-guides li{margin:5px}
#subject-guides li a{padding:2px 0 2px 8px}
#subject-guides .more-link{text-align:right;padding:0 20px 15px 0}


/* recommendations */
#recommended-dbs li{float:left;width:99%;margin:0;}
#recommended-dbs .trial_access_msg .date-display-single{display: inline;margin: 0px;padding: 0px;width: auto;float: none;}
#recommended-dbs .item-title {display: block;padding-top: 6px;margin: 0;float: left;text-decoration: none;max-width:130px;}
#recommended-dbs .item-infolink {cursor: pointer;margin: 6px 15px 1px 0;background:url("/images/icons/info_blue_sm-pub.png") no-repeat scroll left top transparent;border: none;display:block;float:left;font-size:0;font-weight:normal;height:16px;text-indent:-9999px;width:16px;}
#recommended-dbs .item-desc { background: none repeat scroll 0 0 #F9F9F9;border: 1px solid #DDDDDD;clear: both;display: none;margin: 0;padding: 6px;}
#recommended-dbs .view-footer{text-align:right;margin-right:10px}
#recommended-dbs .item-desc p{margin:0;padding: 0}
#mini-panel-recommend_v1 ul.views-fluid-grid-items-width-200 li.views-fluid-grid-item {width: 90%;padding:0 !important;}
#recommended-dbs  li.views-fluid-grid-item a.flag {float: left;}
.flag-favorite .flag-action {
background: url(/images/icons/star-white.png) 5px 2px no-repeat transparent;
padding: 0 0 0 32px;
width: 0;
overflow: hidden;
height: 25px;
display: block;
float: left;
margin: 3px 0 0 7px;
position: relative;
}
.flag-favorite .unflag-action {
background: url(/images/icons/star-selected.png) 5px 2px no-repeat transparent;
padding: 10px 0 0 32px;
display: block;
float: left;
margin: 3px 0 0 7px;
text-decoration: none;
font-size: .95em;
width: 0;
height: 25px;
overflow: hidden;
}
.flag-message{position:absolute;}

.container-inline,.container-inline .form-item{margin-top:1px;padding:0}


/* social and ideas */
#social-layer{
  padding: 5px 0 0;
}
#social-layer i{
  font-size: 1.36em;
  color: #454545;
}
#social-links-wrapper{margin:-95px 10px 0 0;position:absolute;right:0}
a#fb-lib-link{display:block;background:url(/images/icons/facebook.png?123456) no-repeat;margin:0 0 12px;padding:0 0 0 32px;width:0px;height:32px;overflow:hidden}
#website-feedback{position:absolute;right:0px;margin-right:0px;top:370px;width:49px;z-index:2;height:144px}
#website-feedback{background:#fff;position:static;top:auto;border:1px solid #aaa;cursor:pointer;right:-16px;position:fixed;text-indent:-100000px;top:35%;height:102px;padding:2px;width:38px;z-index:100000}
#website-feedback a,#website-feedback a:link,#website-feedback a:visited,#website-feedback a:active,#website-feedback a:hover{background:url(/images/sprite-main1.png?123456) no-repeat scroll 3px -567px #e55e4c;display:block;height:102px;width:38px;outline:medium none}
#website-feedback:hover{width:45px}
.drupal-tabs{margin:10px 0}
.panel-dash-central-mid2 .panel-region-separator{display:none}



#admin-toolbar{display:none;}



/* messages */
h2.error{background-color:#DD7777;margin:0;font-size:1.1em}
h2.warning{background-color:#F0C020}
h2.status{background-color:#77DD77}
div.messages {
  border: 0 none;
  font-size: 16px;
  margin: 0;
  padding: 10px 40px 9px 20px;
  position: relative;
}
div.status {
  border-color: #F8FFFC;
}
div.status {
  background-color: #ECF8F4;
  color: #668877;
}
div.messages, div.messages li {
  border-bottom: 1px solid #CCDDEE;
}
table tr.error th, div.error {
    background-color: #FFE4E0;
    color: #996655;
}
div.error {
    border-color: #FFF8F4;
}
div.messages, div.messages li {
  border: none;
  list-style: none;
}
#messages div.error, #messages div.error li {
  border:none;
  list-style: none;
}


/* screen readers */
.access-only{display: none !important;}