/*typography*/
h2{font-size:1.3em;font-weight:normal;color:#222;margin:22px 10px 12px 0px}
ul{list-style-type:square;padding-left:25px}
a {
  color: #44619b;
}


/*layout*/
.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
  width: 1040px;
}
#library-header-wrapper{
  position: relative;
  z-index: 5;
}
#container{
  position:relative;
  z-index:1;
  padding:0;
  width: 1040px;
}

/* panels */
.panel-dash-left,.panel-dash-left2 .panel-pane,.panel-dash-right .panel-pane,.panel-dash-central-middle .panel-pane,.panel-dash-central-mid2 .panel-pane{background:#fff;padding:0;border:1px solid #ddd;margin:20px 0 20px;}

/* right sidebar */
.panel-dash-left,
.panel-dash-right{
  margin:0 0 20px 20px;
}

/* forms */
select{
  width: auto;
}
form{
  margin:0;
  padding:0
}

/*navbar*/
.navbar .brand {
  padding: 10px 20px;
}
.navbar .nav {
  margin-top: 19px;
}

/*dropdown menus*/
.dropdown-menu>li>a {
display: block;
padding: 3px 20px;
clear: both;
font-weight: normal;
line-height: 20px;
color: #007fff;
white-space: nowrap;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
color: #fff;
text-decoration: none;
background-color: ##2c3e50;
background-image: -moz-linear-gradient(top,#18bc9c,#15a589);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#18bc9c),to(#15a589));
background-image: -webkit-linear-gradient(top,#18bc9c,#15a589);
background-image: -o-linear-gradient(top,#18bc9c,#15a589);
background-image: linear-gradient(to bottom,#18bc9c,#15a589);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff18bc9c',endColorstr='#ff15a589',GradientType=0);
}
.dropdown-menu {
position: absolute;
top: 100%;
left: 0;
z-index: 1000;
display: none;
float: left;
min-width: 160px;
padding: 5px 0;
margin: 2px 0 0;
list-style: none;
background-color: #fff;
border: 1px solid #ccc;
border: 1px solid rgba(0,0,0,0.2);
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
-moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
box-shadow: 0 5px 10px rgba(0,0,0,0`.2);
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;
}
.dropdown-menu {
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}


#ask-librarian{
  margin-top:10px;
  padding:8px;
}
#ask-a-menu{
  padding: 0;
  margin: 0;
}
.navbar #ask-a-menu.nav>li>a {
  padding:2px 10px 2px 0;
  color:#44619b;
}


/*login*/
#block-user-0{
  position:absolute;
  top:0;
  right:365px;
  z-index:1000;
}
#block-user-0 h3{display:none;margin:0;padding:0;}
#toboggan-login{display:none;padding:15px 15px 20px;background:url(/images/icons/lock.png) 95% 95% no-repeat #fff;
}
.toboggan-login-link{
  background: #676767;
}

#sign-in-bubble-wrapper{position:absolute;left:439px;top:-31px;width:195px}
#sign-in-bubble{border-radius:1px;padding:5px 10px;background:#fff}
#sign-in-bubble-wrapper .corner{border-color:transparent #fff transparent transparent;border-style:solid;border-width:8px;font-size:0;height:0;left:-15px;line-height:0;position:absolute;top:3px;z-index:1}
#sign-in-prompt{margin:0 0 10px}



@charset "UTF-8";.ctools-locked{color:red;border:1px solid red;padding:1em}
.clear-block{display:block}
.item-list ul{margin:0 0 0.75em 0;padding:0}
.item-list li{margin:0 0 0.25em 1.5em;padding:0;list-style:none}
.primary a{background-color:#ddd;border-color:#bbb;border-width:1px;border-style:solid solid none solid;height:auto;margin-right:0.5em;padding:0 1em;text-decoration:none}
.secondary a{padding:0;text-decoration:none}
html.js .js-hide{display:none}
#lightbox{position:absolute;top:40px;left:0;width:100%;z-index:100;text-align:center;line-height:0}
#outerImageContainer{position:relative;background-color:#fff;width:250px;height:250px;margin:0 auto;min-width:240px;overflow:hidden}
#imageContainer,#frameContainer,#modalContainer{padding:10px}
#modalContainer{line-height:1em;overflow:auto}
#loading{height:25%;width:100%;text-align:center;line-height:0;position:absolute;top:40%;left:45%;*left:0%}
#hoverNav{position:absolute;top:0;left:0;height:100%;width:100%;z-index:10}
#imageContainer>#hoverNav{left:0}
#frameHoverNav{z-index:10;margin-left:auto;margin-right:auto;width:20%;position:absolute;bottom:0px;height:45px}
#imageData>#frameHoverNav{left:0}
#hoverNav a,#frameHoverNav a{outline:none}
#imageDataContainer{font:10px Verdana,Helvetica,sans-serif;background-color:#fff;margin:0 auto;line-height:1.4em;min-width:240px}
#imageData{padding:0 10px}
#imageData #imageDetails{width:70%;float:left;text-align:left}
#imageData #caption{font-weight:bold}
#imageData #numberDisplay{display:block;clear:left;padding-bottom:1.0em}
#imageData #bottomNav{height:66px}
#lightbox2-overlay{position:absolute;top:0;left:0;z-index:90;width:100%;height:500px;background-color:#000}
* html>body .clearfix{display:inline;width:100%}
#bottomNavClose{display:block;background:url(/sites/all/modules/lightbox2/images/close.gif) left no-repeat;margin-top:33px;float:right;padding-top:0.7em;height:26px;width:26px}
#bottomNavClose:hover{background-position:right}
#loadingLink{display:block;background:url(/sites/all/modules/lightbox2/images/loading.gif) no-repeat;width:32px;height:32px}
#lightboxImage{-ms-interpolation-mode:bicubic}
.logged-in .panel-dash-central{margin-top:10px}
.ui-tabs-hide{position:absolute;left:-15000px;top:-15000px;visibility:hidden}

img{border:none}
.handheld-only,.access-only{display:none}
a#csusm-link{text-decoration:none;font-size:0px;padding:0 0 0 172px;text-align:center;margin:13px auto 7px;position:relative;display:block;width:0px;overflow:hidden;background:url(/images/csusm/csusm-text3pub.png) 100% 100% no-repeat;height:21px}




#block-views-Urgent_Notices-block_1{position:absolute;top:-44px;z-index:5;margin-left:700px;background:url(/images/bg.gif) 0 100% repeat-x #fff;border-left:1px solid #bbb;border-right:1px solid #bbb;border-bottom:1px solid #bbb;width:250px;height:41px;overflow:hidden;-moz-border-radius-bottomleft:6px;-moz-border-radius-bottomright:6px;border-radius:0px 0px 6px 6px}
.view-id-Urgent_Notices a{color:#D72B26;text-decoration:none;font-weight:500}
.view-id-Urgent_Notices .views_slideshow_singleframe_main{background:url(/images/icons/warning-png8.png) 0 98% no-repeat transparent;z-index:15;color:#D72B26;padding:4px 5px 5px 35px;height:31px}
.view-id-Urgent_Notices .views-field-field-introduction-value{margin-top:-8px;*margin-top:-16px}
.view-id-Urgent_Notices .views_slideshow_image_count{text-align:right;margin:-6px 10px 0 0;color:#898989;display:none!important}
#views_slideshow_div_1_0{height:41px}
.title-text-floating,.view-id-Urgent_Notices .attachment-after,#campus-links{padding:2px 0px}


#site-breadcrumb a:hover{text-decoration:underline}



.export-options{display:none}
.drupal-tabs .pane-panels-mini .pane-title{display:none}
#library_footer_wrapper{height:175px;color:#dfdfdf;width:100%}
#library_footer_wrapper a:link,#library_footer_wrapper a:active,#library_footer_wrapper a:hover,#library_footer_wrapper a:visited{color:#fff;text-decoration:none}
#library_footer{min-width:900px;max-width:1100px;padding:0 10px;margin:0 auto;*position:relative;*z-index:1}
#library-nav-footer{list-style:none;margin:10px 0 30px;padding:0px;float:left}
#library-nav-footer li{float:left;margin:0 10px 0 0;min-height:100px;padding:5px 10px 5px 0}
.feedback_info{width:300px;float:right;*position:relative;*z-index:2}
#appbar_container{display: none}
#footer_csu{width:100%;clear:both}
.csu-link{display:block;width:166px;height:19px;background:url(/images/sprite-main1.png?123456) no-repeat 0 -490px transparent;margin-bottom:40px}
.error{color:#CC0000}
.feed-icon img{display:none}
#dynamic_spotlights .feed-icon a{float:right;height:18px;width:18px;text-decoration:none;background:url(/images/sprite-main1.png?123456) no-repeat -182px -686px transparent}
#lightbox #imageDetails{font-size:1.7em;font-family:Arial,Helvetica,sans-serif}
#lightbox #numberDisplay{font-size:.8em}
fieldset{margin:10px;border:3px solid #E4E3D3;padding:15px}
.form-line-item{padding:5px 11px;margin:3px 5px;white-space:nowrap;border:1px none #fff}
.view-Database-Guides-Lists select{margin:3px 10px 0 4px}



#user-menu-top{margin:0;position:absolute;left:270px;top:5px}
#user-menu-top ul{margin:0;padding:0;height:25px}
#user-menu-top li{list-style:none;float:left;margin:0;padding:0px 4px}
#user-menu-top li span{}
#user-menu-top li a{display:block;margin:0;padding:7px 3px 3px;float:left;text-decoration:none}
#user-menu-top #user-name{padding:8px 12px 3px 10px;font-weight:bold}
#user-menu-top #user-name a{background:transparent;color:#069;border:none;float:none;display:inline;padding:0}
#user-menu-top #edit-profile a{background:url(/images/user/edit_profile.png) no-repeat 97% 2px #3680C9;padding-right:34px}
#user-menu-top #eres-stuff ul{position:absolute;top:-1000px;display:block;height:auto;background:#fff;padding:8px;visibility:hidden}
#user-menu-top #eres-stuff li{float:none;display:block;padding:2px;margin:3px 3px 7px;color:#666;border-top:1px dotted #ccc}
#user-menu-top #eres-stuff li.line1{border-top:none}
#user-menu-top #eres-stuff li a{float:none;display:inline;padding:0;margin:0;font-weight:bold}
#user-menu-top li#eres-stuff:hover{background:#fff}
#user-menu-top li#eres-stuff:hover ul{visibility:visible;top:25px;z-index:1000;width:325px;margin-left:-5px;box-shadow:5px 5px 5px #999}
#user-menu-top li#eres-stuff .no-reserves{margin:20px}
#user-menu-top li#eres-stuff .no-reserves a{float:none;display:inline;padding:0;margin:0}
#user-menu-top #logout a{background:url(/images/user/shut_down.png) no-repeat 97% 2px;padding-right:34px}



#library-nav-footer li{border:none;padding-right:25px}
#library-nav-footer a{text-decoration:none}
.feedback_info{width:220px;position:relative;z-index:2}


.logged-in .panel-dash-left h4,.panel-dash-left2 .pane-title,.panel-dash-right .pane-title,.panel-dash-central-middle .pane-title,.panel-dash-central-mid2 .pane-title{border-bottom:none;color:#fff;font-weight:bold;font-size:1.05em;min-width:130px;padding-left:10px;background: #d26263;margin:0;}

.panel-dash-left{display:none}
.panel-dash-left .pane-content,.panel-dash-left2 .pane-content,.panel-dash-right .pane-content,.panel-dash-central-middle .panel-pane .pane-content,.panel-dash-central-mid2 .pane-content{padding:0 5% 6px}
.pane-content ul{padding:0;list-style:none;margin:0}
.pane-content ul li a{padding:8px 0 4px 0;display:block;text-decoration:none}
.logged-in .panel-dash-left{display:block}
.logged-in .panel-dash-left h4,.logged-in .panel-dash-right .pane-similarterms h2{font-size:1.1em;margin:0;font-weight:bold;background-color:#A2A554;}
.logged-in .panel-dash-left h2{font-size:1.1em;margin:18px 5px 2px 11px;;padding:0 0 2px;font-weight:bold;color:#666;}
.pane-content .views-field-field-librarianemail-value a{display:inline}
.logged-in .panel-dash-left li{margin:0}
.logged-in .panel-dash-left #r-guides li{margin:0 0 12px;padding:10px 0;}
.logged-in .panel-dash-left #r-guides .label{font-weight:bold;color:#676767}
.logged-in .panel-dash-left li a{padding:0 0 8px}
.logged-in .panel-dash-left #r-guides .views-field-phpcode-1{margin:0 0 7px;clear:both}
.logged-in .panel-dash-left #r-guides .views-field-phpcode-1 a{padding:0}
.logged-in .panel-dash-left #r-guides a.contact-email{display:inline-block;background:url(/images/mail_icon.gif) 0 0 no-repeat;padding:0 0 0 20px;height:20px;width:0px;overflow:hidden}
.logged-in #d-guides .item-list li{margin:0}
.logged-in #d-guides h2{background-color:#0877b3!important}
#r-guides .views-field-phpcode-1 a{display:block;padding:3px 0 8px;font-weight:bold}
.views-field-field-librarianemail-value{color:#555;}
#r-guides .picture{padding:0 10px 15px;float:right;margin-top:-20px;width:55px;height:55px}

.panel-pane.pane-custom.pane-12{background:#eee;}
.panel-pane.pane-custom.pane-12 p{padding:6px 0;margin:0;}
.panel-dash-left .more-link{padding:0}
.panel-dash-left .view-footer p{margin:0;padding:8px 0 0;font-size:.9em}
#subject-guides{margin:20px 0 0;-moz-border-radius:3px;border-radius:3px;border:1px solid #ccc;background-color:#fff}
#subject-guides .pane-title{text-align:left;background-color:#a2a554}
#subject-guides .pane-content{padding:0}
#subject-guides .view-header{padding:5px;background:#f7f7f7}
#subject-guides li{margin:5px}
#subject-guides li a{padding:2px 0 2px 8px}
#subject-guides .more-link{text-align:right;padding:0 20px 15px 0}

/*search tabs*/
#tabs-dash-central-top{z-index:5;position:relative;}
.drupal-tabs{float:none;margin:10px;min-height:40px}
.ui-tabs-nav{border-top:1px solid #B5B9D7;border-left:1px solid #B5B9D7;border-right:1px solid #B5B9D7;background:url(/images/sprite_skin.png) 0 -255px repeat-x #D8E1CE;height:24px;border-bottom:none;white-space:nowrap;z-index:1;margin:0 0 0 4px;padding:0 0 0 10px}
.ui-tabs-nav li{position:relative;z-index:2;float:left;margin:0;padding:0;list-style:none}
.ui-tabs-nav li a{padding:8px 15px 5px;color:#fbfbfb;border:none;outline:none;font-size:.95em;display:block;margin:0 0 0 6px;background:transparent;z-index:3;float:left;position:relative;text-decoration:none}
.ui-tabs-nav .ui-tabs-selected a{border-top:1px solid #C4C5EE;border-left:1px solid #C4C5EE;border-right:1px solid #C4C5EE;background:#fff;z-index:6;font-weight:bold;padding:10px 15px 5px;cursor:text;color:#444;-moz-border-radius:3px 3px 0 0;-webkit-border-radius:3px 3px 0 0;border-radius:3px 3px 0 0;}
.ui-tabs-panel{background:#fff;width:auto;z-index:1;min-height:40px;height:155px;margin:-5px 0 0 4px;border:1px solid #ddd;padding:0;box-shadow:0 3px 7px #ddd;-webkit-box-shadow:0 3px 7px #ddd;-moz-box-shadow:0 3px 7px #ddd}
.ui-tabs-nav.primary{height:38px;background:#2476a6}
.ui-tabs-nav.primary .active a{top:-3px}
.ui-tabs-nav.secondary{background:none;border:none;color:#333;font-weight:bold;margin:0 0 0 12px;height:28px}
.ui-tabs-nav.secondary li,.ui-tabs-nav.secondary a,.ui-tabs-nav.secondary span{color:#4d879d;}
.ui-tabs-nav.secondary a{padding:6px 17px 4px}
.ui-tabs-nav.secondary .active a{margin-top:-1px;border-style:solid solid none;border-width:1px;border-color:#ccc;color:#222}
.pane-books-search2 .ui-tabs-panel{background:url(/images/sprite-main1.png?123456) repeat-x scroll 0 60px #fff;height:78px;padding:10px 15px 0;border:1px solid #ddd;box-shadow:0 0 9px #eee;-webkit-box-shadow:0 0 9px #eee;-moz-box-shadow:0 0 9px #eee;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px}
#tabs-mini-panel-books-search2-middle{padding-top:15px;margin:10px!important}
#catalog-search{padding:0}
.multi-search-box .form-line-item{margin:0;padding:5px 0 10px 0}
.multi-search-box .form-line-item select{margin:0 3px 0 0}
#mini-panel-books_search2 #catalog-search .form-text,.pane-books-search2 #circuit-search .form-text,.pane-books-search2 #worldcatsearch .form-text{width:58%;min-width:200px;margin:-1px 3px 0 0;height:20px}
.pane-books-search2 #circuit-search .form-text{float:left;margin-top:-28px;*margin-top:-23px}
.pane-books-search2 .panel-col-top p{margin:0;padding:10px 0 0 20px}
.pane-books-search2 .form-line-item select#searchscope{width:140px}
.pane-books-search2 .form-line-item select#search_menu,.pane-books-search2 .form-line-item select#searchtype,.pane-books-search2 .form-line-item select#mango-options{width:100px}
.pane-books-search2 .form-line-item select#searchtype{margin-left:60.75%}
#adv-search-wrapper{margin:-48px 0 0 290px}
#worldcatAdvancedMore{float:right;margin:8px 165px 0 0;text-transform:capitalize}
.pane-books-search2 .cluetip{float:left;margin:10px 0 0 10px}
#xerxes-metasearch,#mini-panel-journals_a2z .multi-search-box{margin-top:10px;background:#fff;height:40px;padding:15px}
#xerxes-metasearch .form-text{min-width:200px;width:55%}
#mini-panel-journals_a2z .multi-search-box .form-text{min-width:200px;width:54%}
#spec-article-link{padding-left:45px}


/* Databases menu */
#nice-menu-8,#nice-menu-8 ul{list-style:none;padding:0;z-index:1;margin:0;position:relative;display:block}
#nice-menu-8{float:left;margin:20px 0 0 20px;border:none;line-height:normal;z-index:10;}
#nice-menu-8 ul{float:left;width:135px;}
#nice-menu-8 .menu-label{padding:3px 0;float:left;}
#nice-menu-8 .submenu{position:absolute;visibility:hidden;background:#fff;z-index:1000;top:-999px;border:1px solid #ccc;border-radius:3px 3px 3px 3px;margin:0;padding:10px;width:300px;box-shadow:0 7px 7px #ddd;-webkit-box-shadow:0 7px 7px #ddd;-moz-box-shadow:0 7px 7px #ddd}
#nice-menu-8 li{background-color:transparent;z-index:1;float:left;padding:0;position:relative}
#nice-menu-8 li:hover .submenu,.menuparent li:hover .submenu,#nice-menu-8 .over .submenu{visibility:visible;top:20px;left:-50px;}
#nice-menu-8 a,#nice-menu-8 a:link,#nice-menu-8 a:visited,#nice-menu-8 a:hover{outline:0;margin:0;background-color:transparent;display:block;padding:3px 8px;}
#nice-menu-8 li:hover{color:#333;visibility:inherit;/* fixes IE7 'sticky bug' */}
#nice-menu-8 li:hover li{background:#fff}
#nice-menu-8 li:hover a{}
#nice-menu-8 a:hover{}
#nice-menu-8 ul li{border:none;margin:0;float:none;display:block;padding:0;height:auto}
#nice-menu-8 ul li,#nice-menu-8 ul li:hover,#nice-menu-8 ul .menu_closer:hover{}
#nice-menu-8 .first-submenu-set,#nice-menu-8 .first-submenu-set:hover,#nice-menu-8 .second-submenu-set,#nice-menu-8 li.second-submenu-set:hover{float:left;width:170px}
#nice-menu-8 ul a,#nice-menu-8 ul a:link,#nice-menu-8 ul a:visited,#nice-menu-8 ul a:hover{z-index:1000;font-size:.95em;padding:1px 3px;background:#fff;display:block;margin:1px 6px;}

.inline-db-cats{list-style:none;padding:15px 0 5px 5px;margin:0;height:20px;width:99%;clear:both}
.inline-db-cats li{list-style:none;display:inline;padding:0;margin:0}
.pane-content .inline-db-cats li a{list-style:none;min-width:35px;display:block;padding:4px 17px;margin:4px;float:left;text-decoration:none;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px}
.pane-database-guides-lists{border:1px solid #ccc;clear:both;margin:8px 0 0 15px;text-align:left;min-width:375px;width:76%;background:url("/images/sprite-main1.png?123456") repeat-x scroll 0 10px #fff;height:30px;padding:10px}

#recommended-dbs li{float:left;width:99%;margin:0;}
#recommended-dbs .trial_access_msg .date-display-single{display: inline;margin: 0px;padding: 0px;width: auto;float: none;}
#recommended-dbs .item-title {display: block;padding-top: 6px;margin: 0;float: left;text-decoration: none;max-width:130px;}
#recommended-dbs .item-infolink {cursor: pointer;margin: 6px 15px 1px 0;background:url("/images/icons/info_blue_sm-pub.png") no-repeat scroll left top transparent;border: none;display:block;float:left;font-size:0;font-weight:normal;height:16px;text-indent:-9999px;width:16px;}
#recommended-dbs .item-desc { background: none repeat scroll 0 0 #F9F9F9;border: 1px solid #DDDDDD;clear: both;display: none;margin: 0;padding: 6px;}
#recommended-dbs .view-footer{text-align:right;margin-right:10px}
#recommended-dbs .item-desc p{margin:0;padding: 0}
#mini-panel-recommend_v1 ul.views-fluid-grid-items-width-200 li.views-fluid-grid-item {width: 90%;padding:0 !important;}
#recommended-dbs  li.views-fluid-grid-item a.flag {float: left;}
.flag-favorite .flag-action {
background: url(/images/icons/star-white.png) 5px 2px no-repeat transparent;
padding: 0 0 0 32px;
width: 0;
overflow: hidden;
height: 25px;
display: block;
float: left;
margin: 3px 0 0 7px;
position: relative;
}
.flag-favorite .unflag-action {
background: url(/images/icons/star-selected.png) 5px 2px no-repeat transparent;
padding: 10px 0 0 32px;
display: block;
float: left;
margin: 3px 0 0 7px;
text-decoration: none;
font-size: .95em;
width: 0;
height: 25px;
overflow: hidden;
}
.flag-message{position:absolute;}
.drupal-tabs .pane-panels-mini .pane-database-guides-lists .pane-title,.container-inline,.container-inline .form-item{float:left;display:block;margin:5px 3px 3px;padding:0}
.drupal-tabs .pane-panels-mini .pane-database-guides-lists .pane-title{margin-left:7%;font-size:1.1em}
.container-inline,.container-inline .form-item{margin-top:1px;padding:0}
#db-az-browse{margin:16px 0 0 17px}
#specific-article-link{float:left;margin:-16px 0 0 285px}
#jaz-browse-link{float:right;margin:-37px 150px 0 0}
#initiatives,#spc-collections{min-height:100px}
#user-login .pane-content{padding:10px}
#user-login .pane-content .form-item,#user-login .pane-content .form-submit{margin:6px 0}
#user-login .pane-content label{display:block}
#edit-persistent-login-wrapper{display:none}
#user-login .pane-content input.form-text{border-color:#7C7C7C #C3C3C3 #ddd;border-style:solid;border-width:1px;font-family:Arial,Helvetica,sans-serif;font-size:1.1em;padding:2px}
#container #you-are h2.pane-title,#initiatives h2.pane-title,#spc-collections h2.pane-title{background-color:#eaEFFE;color:#666;}
#get-started{background:#fff;padding:0;border:1px solid #ccc;margin:20px 0 20px;-moz-border-radius:3px;border-radius:3px}
#container #get-started h2.pane-title{background-color:#98886A}
.pane-library-hours-calendar{border:1px solid #ccc;margin-top:5px;-moz-border-radius:3px;border-radius:3px;background:#fff;padding:0 0 10px}
.pane-library-hours-calendar h2.pane-title{background-color:#8baada}
.pane-library-hours-calendar h2.pane-title span.hours-icon{display:block;float:right;background:url(/images/icons/hours.png) no-repeat;height:33px;width:33px;margin:-11px -6px 0 0}
/*.pane-library-hours-calendar .pane-content{padding:0 12px 6px 12px}*/
.libary-hours-list .view-content{clear:both;padding:8px 0 0}
.libary-hours-list .hours_list_row{border-bottom:1px solid #ccc;margin:0 0 5px;float:left;max-width:200px;padding:0 0 3px}
.libary-hours-list .hours_list_row h4{margin:0;width:70px;padding:0;float:left;font-size:.95em}
.libary-hours-list .date-display-single{border:medium none;color:#565656;float:left;margin:3px 0;width:70px;*width:85px}
.field-content .today-display,.field-content .date-display-single{display:none}
.libary-hours-list .hours_list_row .field-content{float:right;width:120px;font-size:0.95em;padding:0;font-weight:bold;color:#333/*195A57*/}
.libary-hours-list .upcoming-times{margin:0;padding:0;display:inline;font-weight:normal;color:#555;text-transform:lowercase}
.pane-library-hours-calendar .view-footer{clear:both;width:100%;padding:0;margin:0}
.pane-library-hours-calendar .view-footer p{padding:8px 0;margin:0;line-height:24px}
#dynamic_spotlights{float:none;margin:5px auto;*margin-top:-10px;border:none;width:100%;border:1px solid #ccc;padding:0;-moz-border-radius:3px;border-radius:3px;background:#fff;min-height:210px}
#dynamic_spotlights .pane-title{background-color:#d99314;color:#fff}
#dynamic_spotlights .views-slideshow-controls-top{width:80px;float:left;margin-right:7%}
#dynamic_spotlights .pane-content{padding:0 0 0 5px;min-height:169px;width:415px;margin:5px auto}
#dynamic_spotlights .views-content-title{text-align:right}
#dynamic_spotlights .views_slideshow_thumbnailhover_div_breakout_teaser{margin:1px;padding:2px;width:80px;vertical-align:middle;text-align:center}
#dynamic_spotlights .views_slideshow_thumbnailhover_div_breakout_teaser img{opacity:0.6;filter:alpha(opacity=60);border:2px solid #ddd;max-width:306px}
.views-field-field-spc-image-fid .imagecache-sm75{border:1px solid #676767}
.views_slideshow_slide .views-content-path{border:1px solid #ccc;max-height:140px;overflow:hidden;*width:306px;box-shadow:0 0 8px #ddd;-webkit-box-shadow:0 0 8px #ddd;-moz-box-shadow:0 0 8px #ddd}
.views_slideshow_slide .views-content-path img{max-height:172px;overflow:hidden}
#dynamic_spotlights .views_slideshow_slide{max-height:200px;max-width:306px;overflow:hidden;display:none;z-index:1;}
#dynamic_spotlights .views_slideshow_teaser_section{max-height:160px!important;max-width:306px;overflow:hidden}
#dynamic_spotlights .more_spotlights{margin:-26px 20px 0 0;float:right}
#dynamic_spotlights .more_spotlights a{color:#FEFDDA;text-decoration:none}
#dynamic_spotlights .views_slideshow_main{padding-top:5px;margin-top:0px;border:none;overflow:hidden;min-height:130px}
#dynamic_spotlights .activeSlide img{opacity:1;filter:alpha(opacity=1000);border:2px solid #ea8d19}
#dynamic_spotlights .views_slideshow_thumbnailhover_div_breakout_teaser.activeSlide img{border:2px solid #EA8D19}
#social-links-wrapper{margin:-95px 10px 0 0;position:absolute;right:0}
a#fb-lib-link{display:block;background:url(/images/icons/facebook.png?123456) no-repeat;margin:0 0 12px;padding:0 0 0 32px;width:0px;height:32px;overflow:hidden}
#website-feedback{position:absolute;right:0px;margin-right:0px;top:370px;width:49px;z-index:2;height:144px}
#website-feedback{background:#fff;position:static;top:auto;border:1px solid #aaa;cursor:pointer;right:-16px;position:fixed;text-indent:-100000px;top:35%;height:102px;padding:2px;width:38px;z-index:100000}
#website-feedback a,#website-feedback a:link,#website-feedback a:visited,#website-feedback a:active,#website-feedback a:hover{background:url(/images/sprite-main1.png?123456) no-repeat scroll 3px -567px #e55e4c;display:block;height:102px;width:38px;outline:medium none}
#website-feedback:hover{width:45px}
.drupal-tabs{margin:10px 0}
.panel-dash-central-mid2 .panel-region-separator{display:none}
#initiatives .pane-content{position:relative}
#initiatives li{display:block;clear:both}
.common-read-site-link{float:left;margin-right:12px}
#read-bkcover{position:absolute;background:url(/images/icons/silent-spring-bkcover-xs.jpg) 0 0 no-repeat;width:50px;height:70px;top:20px;right:29px;position:relative;}


#help-panel{background:url(/images/backgrounds/ask-librarian3.png) no-repeat 98% 65px #fff;padding:0;min-height:222px;border:1px solid #ccc;margin:5px 10px 5px 10px;-moz-border-radius:3px;border-radius:3px;width:190px;*position:relative;*z-index:2}
#help-panel .pane-title{background-color:#348EA8}
#help-panel .pane-content{padding:10px 65px 15px 0;*padding-bottom:16px}
.help-link{padding:10px 20px 9px}
.help-link .help-title{font-size:1.05em;cursor:pointer}
#help-panel .content{display:none;position:relative;z-index:3;margin:5px 5px 5px -5px;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;border:1px solid #ccc;padding:10px;background:#f7f7f7;clear:both}
#help-panel #chat-link .content{padding:0;*height:340px}
#chat-link img{float:right;*float:none}
.chat-info{padding:4px 10px 2px}
#chat-link .help-title{background:url("/images/sprite-main1.png?123456") no-repeat scroll -125px -757px transparent;display:block;padding:5px 0}
#email-link .help-title{background:url("/images/sprite-main1.png?123456") no-repeat scroll -128px -588px transparent;display:block;padding:5px 0}
#person-link .help-title{background:url("/images/sprite-main1.png?123456") no-repeat scroll -97px -713px transparent;display:block;padding:5px 20px 5px 0}
#person-link h4{border-bottom:1px solid #AAAAAA;color:#009999;margin:0 0 -8px;padding:0}
#help-panel .content iframe{height:340px;width:330px;*position:relative;*z-index:105;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px}
#help-panel .minimize{float:right;margin:0 20px 0 0;font-weight:normal;text-align:right;font-size:1em;cursor:pointer;z-index:1;color:#039}
#person-link a{color:#09C}
#better-messages-default #messages-inner{position:relative;width:100%}
#better-messages-default .messages-label{color:#FFFFFF;font-weight:bold;line-height:15px;margin-bottom:3px;padding:5px 10px;text-transform:uppercase}
#better-messages-default table{background:transparent !important}
#better-messages-default table,#better-messages-default tbody,#better-messages-default td{border-collapse:collapse;margin:0;padding:0;border:0 !important}
#better-messages-default .tl,#better-messages-default .tr,#better-messages-default .bl,#better-messages-default .br{height:10px;overflow:hidden;padding:0;width:10px}
#better-messages-default .body{background-color:#FFFFFF;padding:5px}
#better-messages-default .footer{border-top:1px solid #DDDDDD;margin-top:10px;padding-top:5px;
text-align:right}
#better-messages-default .b{ background:transparent url(/sites/all/modules/better_messages/skins/default/images/b.png) repeat;}
#better-messages-default .tl{ background:transparent url(/sites/all/modules/better_messages/skins/default/images/tl.png) repeat;}
#better-messages-default .tr{ background:transparent url(/sites/all/modules/better_messages/skins/default/images/tr.png) repeat;}
#better-messages-default .br{ background:transparent url(/sites/all/modules/better_messages/skins/default/images/br.png) repeat;}
#better-messages-default .bl{ background:transparent url(/sites/all/modules/better_messages/skins/default/images/bl.png) repeat;}
#better-messages-default a.message-close{ background:transparent url(/sites/all/modules/better_messages/skins/default/images/closelabel.gif) no-repeat;display:block;float:right;height:22px;width:66px}
#better-messages-default span.message-timer{float:left;line-height:22px}
#better-messages-default .messages{padding:10px 0px 10px 45px;margin-bottom:5px;overflow:auto;max-height:400px}
#better-messages-default div.status{background:transparent url(/sites/all/modules/better_messages/skins/default/images/status.png) no-repeat 5px 5px;border:1px solid #77DD77}
#better-messages-default div.error{background:transparent url(/sites/all/modules/better_messages/skins/default/images/error.png) no-repeat 5px 5px;border:1px solid #DD7777}
#better-messages-default div.warning{background:transparent url(/sites/all/modules/better_messages/skins/default/images/warning.png) no-repeat 5px 5px;border:1px solid #F0C020}
h2.error{background-color:#DD7777;margin:0;font-size:1.1em}
h2.warning{background-color:#F0C020}
h2.status{background-color:#77DD77}
.email-us-link{color: #F72!important;}

#admin-toolbar{display:none;}

/* Discovery search */
#dash-central-top-tab-2.ui-tabs-panel{background: #F6F6F6}
.pane-database-guides-lists{clear: both;margin:0;text-align: left;min-width: 200px;width:100%;background:none;height:60px;padding:3px 0;border:none;border-radius:0;-moz-border-radius:0;-webkit-border-radius: 0;position:relative;box-shadow:0;-moz-box-shadow:0;-webkit-box-shadow:0;background:#fff}

#spc-article-links{margin-top: -30px;position:relative;width:98%}
#db-az-browse{margin:0;position:absolute;left:227px;top:-5px;}
#specific-article-link{position:absolute;right:0;top:90px;width: 100px;background: #dedede;padding:12px 10px;}
#block-block-4{padding:0;margin:5px 0 0 10px;width:360px;clear:both;position:relative;}
#block-block-4 h3{margin: 0px;padding: 0 0 0 15px;font-size: 1em;color:#686868}
#block-block-4 .content{margin:0;padding:2px}
#discov-new-sign{display: none}
#discov-faq-link{display:block!important;position:absolute;top:7px;left:142px;}
#discov-faq-link a{text-decoration:none;font-size:12px}
#block-block-4 .content form .form-line-item {padding: 0 0 0 10px;margin: 0;white-space: nowrap;border:none}
#block-block-4 .content label{display:none}
#block-block-4 input#summons-query{width:200px;background:#fff}
